html, body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, p {
    padding: 0;
    margin: 0;
}

a {
    color: #155A9B;
}

header {
    width: 100%;
    padding: 25px 0;
    background-color: #155A9B;
    color: #fff;
    box-sizing: border-box;
}

#title, #main {
    width: 80%;
    margin: 0 auto;
}

section {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
}

p {
    color: black;
    font-size: 16px;
    padding-bottom: 10px;
}

#cover {
    width: 100%;
    margin: 20px 0;
}

#logo {
    width: 150px;
}

button {
    display: block;
    color: #155A9B;
    font-size: 24px;
    background: none;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px solid #155A9B;
    border-radius: 8px;
}

button:hover {
    color: #fff;
    background-color: #155A9B;
}

button:focus {
    outline: none;
}

#frames {
    display: none;
    padding-top: 25px;
}

#frames:after {
  content: "";
  display: table;
  clear: both;
}

#frames.show {
    display: block;
}


#scan, #form {
    width: 50%;
    float: left;
}

iframe {
    width: 100%;
    height: calc(100vh - 80px);
    margin: 0;
    padding: 0;
}

#person {
    position: absolute;
    top: 12px;
    left: 200px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

#person:hover {
    border-bottom: 2px solid #fff;
}

.small .hide {
    display: none;
}

.small #main {
    width: 100%;
}

.small button {
    position: absolute;
    top: 10px;
    font-size: 15px;
    padding: 5px;
    margin: 0 0 10px 10px;
    z-index: 10;
    color: #fff;
    border-color: #fff;
}

.small button:hover {
    color: #155A9B;
    background-color: #fff;
}
